.quadro1{
    display: flex;
    align-items: center;
    justify-content: center;
    height:300px;
    border: 1px solid #ed7723;
}

.inpNome{
    width: 100%;
}

.titulo{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: #ed7723;
}

.btnCadastro{
    margin-left: 200px;
}