@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.quadro1{
    font-family: 'roboto', sans-serif;
    display: flex;
    text-align: center;
    height: 150px;
    border: 1px solid black;
}

.inpNome{
    margin-right: 12px;
    width: 250px;
}