@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    background-color: #002021;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.resultado{
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    border: 5px solid #ed7723;
    text-align: center;
    background-color: aliceblue;
}

.titulo{
    text-align: center;
    color: #ed7723;
}

.textoLista{
    color: #ed7723;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 5px;
}

.btnDel{
    margin-left: 25px;
}

.resultado{

}