@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    background-color: #002021;
    font-family: 'Lato', sans-serif;
}

.resultado{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    height: 500px;
    border: 1px solid #ed7723;
    text-align: center;
}

.titulo{
    text-align: center;
    color: #ed7723;
}

.textoLista{
    color: #ed7723;
    font-size: 25px;
    font-weight: bolder;
}
