.quadro1{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    height: auto;
    text-align: center;
    border: 1px solid black;
}

.inpNome{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}